h1 a {
    text-decoration: none;
}

.logo {
    width: auto;
    height: auto;
    max-width: 240px;
}

@media (max-width:600px) { 
    .logo {
        max-width: 64px;
    }
}

@media (max-height: 480px) {
    .logo {
        display: none;
    }
}

.bob {
    -moz-animation: bob-up-down 1s linear infinite;
    -ms-animation: bob-up-down 1s linear infinite;
    -o-animation: bob-up-down 1s linear infinite;
    -webkit-animation: bob-up-down 1s linear infinite;
    animation: bob-up-down 1s linear infinite; 
}

@keyframes bob-up-down {
    0%, 100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px);
    }
}

pre.highlight {
    overflow-x: scroll;
}