a {
    text-decoration: none;
}

.bob {
    -moz-animation: bob-up-down 1s linear infinite;
    -ms-animation: bob-up-down 1s linear infinite;
    -o-animation: bob-up-down 1s linear infinite;
    -webkit-animation: bob-up-down 1s linear infinite;
    animation: bob-up-down 1s linear infinite; 
}

@keyframes bob-up-down {
    0%, 100% {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, 10px);
        transform: translate(0px, 10px);
    }
}