.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    transform: translateZ(0);   
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.bubble{
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    animation: float-up 20s linear infinite;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border-color: rgba(255,255,255,0.5);
}

.bubble-sm {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.bubble-md {
    width: 60px;
    height: 60px;
    line-height: 60px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bubble-lg {
    width: 80px;
    height: 80px;
    line-height: 80px;
    animation-delay: 4s;
    animation-duration: 24s;
}

.bubble-xl {
    width: 100px;
    height: 100px;
    line-height: 60px;
    animation-delay: 6s;
    animation-duration: 32s;
}

@keyframes float-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}