a {
    text-decoration: none;
}

.bob {
    animation: bob 5s linear infinite;
}

@keyframes bob {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}